<div class="container">
    <h2 style="margin-top: 15px; margin-bottom: 10px; text-align: center; color: yellow;" >MAYOR MENOR➕➖</h2>
    <div class="mayorMenor-container text-center">
        <div class="" style="margin-top: 30px;">
            <!-- <button class="btn btn-success  " *ngIf="!comenzar" type="button" (click)="comenzarJuego()">Comenzar</button> -->
            <!-- <button class="btn btn-success " *ngIf="comenzar" type="button" (click)="reintentarJuego()">Reiniciar</button> -->
            <!-- <p *ngIf="!comenzar" style="color: white; font-size: 32px; display: inline-block; padding: 4px 6px;">{{mensajeJugador}}</p> -->
        </div>
        <!-- <div  *ngIf="comenzar" class="row" style="margin-top: 10px; margin-left: 550px;">
            <h1>Puntos: {{this.puntaje}}</h1>
        </div> -->

        <div class="row container d-flex justify-content-center" style="margin-top: 10px;">

            <div class="col-md-2 text-center">
                <button class="col btn btn-primary " (click)="mayorMenor('menor')">Menor</button>
            </div>
        

            <!--CARTA-->
            <div class="col-md-4 text-center cartaContenedor"  style="height: 250px; width: 150px;" >
                <div>❤️</div>
                <div>
                   <h1>{{this.carta}}</h1> 
                </div>
            </div>
            
            <div class="col-md-2 text-center">
                <button class="btn btn-primary " (click)="mayorMenor('mayor')">Mayor</button>
            </div>

            
        </div>
        <div class="row" style="margin-top: 10px; margin-left: 50px; color: white;">
            <h3>Intentos restantes: {{this.intentos}}</h3>
        </div>
        <!-- <div  *ngIf="comenzar" class="row" style="margin-top: 5px; margin-left: 150px;">
            <h2 class="row">{{this.mensaje}}</h2>
        </div>
        <div  *ngIf="comenzar" class="row" style="margin-top: 5px; margin-left: 150px;">
            <h2 class="row">{{this.mensaje2}}</h2>
        </div> -->
    </div>
</div>
<!-- <div *ngIf="!comenzar">
    <button (click)="obtenerYCrearResultado()" style="align-content: center;">Mandar resultados</button>
</div> -->