<div class="padre text-center">
    <h2 style="margin-top:9px ;" >Preguntados🤔❓</h2>
    <p>{{mensajeJugador}}</p>
    <div class="divpregunta" *ngIf="estaJugando" >
        <div class="preguntas" *ngIf="this.paisElegidoRespuesta">
            <h3>A que pais pertenece esta bandera?</h3>
            <h5>Puntos:{{puntos}}</h5>
        </div>
        <div class="imagen shadow">
            <img [src]="paisElegidoRespuesta.flags.png" alt="" width="200px" height="150px">
        </div>
        <div class="opciones" *ngFor="let paisOpcion of paisesOpciones">
            <button type="button" class="btn btn-primary" style="margin-bottom: 5px;" (click)="elegirPais(paisOpcion)">{{paisOpcion.translations.spa.official}}</button>
        </div>
    </div>
    <div  *ngIf="!estaJugando">
        <button (click)="nuevoJuego()" class="btn btn-primary " type="button" id="button-nuevo">
                Nuevo juego</button>
    </div>
    <div onclick="this.blur();"  *ngIf="estaJugando">
        <button  (click)="detenerJuego()" class="btn btn-danger " type="button">
                Finalizar</button>
    </div>

    <div *ngIf="mostrarR">
        <button (click)="obtenerYCrearResultado()">Mandar resultados</button>
    </div>
</div>
