<div class="padre shadow">

  <div class="px-4 py-5 my-4 text-center">
    <h4 style="color:white; font-weight: bold ;">Hola, soy Christian Thomás Suárez Grecco, estudiante de tecnicatura en programación en la UTN(Universidad tecnológica Nacional)
      Laboratorio 4👋 </h4>
    <img class="d-block mx-auto mb-3 mt-2 shadow" style="border-radius: 80px;" src="../../../assets/quiensoy.jpg" alt="" width="150" height="150">
        <h4 style="color:white; font-weight: bold; ">Osu 2.0!⭕</h4>
    <div class="col-lg-6 mx-auto">
      <p class="lead mb-4" style="color:white ;">El juego propio consiste en hacer clicks en la pelotita la máxima cantidad de veces posible antes de que se acabe el tiempo.</p>
        <h4 style="color:white; font-weight: bold; ">Ahorcado🔥</h4>
        <p class="lead mb-4" style="color:white ;">El juego consiste en elegir letras hasta completar la palabra entera, tenés 6 intentos.</p>
        <h4 style="color:white; font-weight: bold; ">Mayor menor ➕➖</h4>
        <p class="lead mb-4" style="color:white ;">El juego consiste en adivinar la carta siguiente si es mayor o menor. tenés 3 intentos. Buena suerte!!!</p>
        <h4 style="color:white; font-weight: bold; ">Preguntados🧠</h4>
        <p class="lead mb-4" style="color:white ;">El juego consite en responder correctamente.</p>

              <!-- <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
        <button type="button" class="btn btn-primary btn-lg px-4 gap-3">Primary button</button>
      </div> -->
    </div>
  </div>
</div>
